

fastapi
uvicorn[standard]
pydantic
langchain-openai
langchain-core
langgraph
psycopg-pool
psycopg[binary]
psycopg2-binary
langchain-postgres       
langchain-community      
neo4j    
langchain-neo4j          
langchain-huggingface    
sentence-transformers    
langgraph-checkpoint-postgres
requests
